<div class="contenedor">
  <div class="wrapper">
    <div id="home" class="first_page">
      <div class="wrapper">
        <div class="logo">
          <h2>ACERCA DE</h2>
          <img
            src="../../../assets/img/logos/logoNegro.png"
            alt=""
          />
        </div>
        <div class="content content_home">
          Somos una plataforma intuitiva que facilita el acceso, la
          visualización y compra de fotografías online. Buscamos cambiar la
          forma en que las personas acceden y adquieren imágenes, brindando una
          experiencia en línea excepcional
        </div>
        <div class="image"></div>
      </div>
    </div>
    <div class="mobile_page">
      <div class="imagen"></div>
      <div class="info">
        <div class="logo">
          <h2>ACERCA DE</h2>
          <img
            src="../../../assets/img/logos/logoNegro.png"
            alt=""
          />
        </div>
        <p>
          Somos una plataforma intuitiva que facilita el acceso, la
          visualización y compra de fotografías online. Buscamos cambiar la
          forma en que las personas acceden y adquieren imágenes, brindando una
          experiencia en línea excepcional
        </p>
      </div>
    </div>
  </div>
</div>
