<footer>
  <div class="up">
    
    <h3>Comprá con total seguridad en nuestra tienda online.</h3>
    <img src="../../../assets/img/1medios_pago.png" alt="" />
  </div>

  <div class="down">
    <ul>
        <li><img src="../../../assets/img/logos/logoNegro.png" alt="" /></li>
       
    </ul>
    <h5>Copyright © <span>Breaklens</span> todos los derechos reservados.</h5>
    
     
    <h5>contacto@breaklens.com</h5>
  </div>
<!--  <div class="cont">
    <ul>
        <li><img class="logo" src="../../../assets/img/logos/logoNegro.png" alt="" /></li>
        <li><h5>Copyright © <span>Breaklens</span> todos los derechos reservados.</h5></li>
    </ul>
    <ul>
        <li><h3>Comprá con total seguridad en nuestra tienda online.</h3></li>
        <li><img src="../../../assets/img/1medios_pago.png" alt="" /></li>
    </ul>
  </div>-->
</footer>