<app-header class="header" id="arriba"></app-header>

<div
  [ngClass]="{ opacidad_carrito: carritoVisible }"
  (click)="cambiarVisibilidadCarrito()"
></div>

<!--<img
  src="../../../assets/img/carrito2.png"
  alt=""
  (click)="cambiarVisibilidadCarrito()"
  class="entrarCarrito"
  *ngIf="!carritoVisible"
/>-->
<div class="contBtn" (click)="cambiarVisibilidadCarrito()">
  <button class="chatBtnCarrito">
    <img
      src="../../../assets/img/icono/cart-shopping-fast.svg"
      alt=""
      *ngIf="!carritoVisible"
      class="carrito"
    />
    <img
      src="../../../assets/img/icono/caret-right.svg"
      alt=""
      *ngIf="carritoVisible"
      class="flecha"
    />

    <label for="">{{ getLengthCarrito() }}</label>
  </button>
</div>
<div class="contLoader" *ngIf="cargando">
  <div class="loader"></div>
</div>
<div class="contenedor_grande" *ngIf="!cargando">
  <div class="contenedor_chico">
    <div class="contenedor_top">
      <h2 *ngIf="institucion">{{ institucion.nombre }}</h2>
      <h3 *ngIf="institucion">
        {{ listaCarpetas.length }} carpetas disponibles
      </h3>
    </div>
    <p class="selecCarp">*Seleccione una carpeta</p>
    <div
      class="contenedor_carpetas"
      [ngClass]="{ contenedor_carpetas_elegida: carpetaElegida }"
    >
      <div *ngFor="let folder of listaCarpetas">
        <div class="folder">
          <app-folder-card
            class="app-folder"
            [carpetaReferida]="folder"
            (click)="seleccionarCarpeta(folder)"
            [isSelected]="folder.nombre === carpetaElegida?.nombre"
            [institucion]="institucion"
          ></app-folder-card>
        </div>
      </div>
    </div>

    <div
      class="foto_grupal"
      *ngIf="institucion && institucion?.path_foto_grupal !== 'vacio'"
    >
      <div class="cardGrupal">
        <div class="cardGrupal-img">
          <img
            src="../../../assets/img/fotos/portadas/{{
              institucion.path_foto_grupal
            }}"
            alt="Foto grupal de {{ institucion.nombre }}"
            (contextmenu)="prohibirDescarga($event)"
          />
        </div>
        <div class="cardGrupal-footer">
          <span class="text-title"
            >Fotografia grupal de {{ institucion.nombre }}</span
          >
        </div>
      </div>
    </div>
    <div class="contenedor_galeria">
      <!-- <h1 class="fadeEleccion elieCarpeta" *ngIf="carpetaElegida">
        AHORA SELECCIONE LA FOTO INDIVIDUAL
      </h1>-->

      <div class="galeria_fotos_flex">
        
        <div class="contenedor_loader" *ngIf="cargandoFotos">
          <span class="loaderFotos"  ></span>
        </div>
        <p class="selecCarp foto" *ngIf="!cargandoFotos">*Seleccione la fotografia</p>
        <div *ngIf="!institucionVacia&&!cargandoFotos" class="galeria_fotos" >
          <div *ngFor="let foto of listaFotos" class="imgFOR">
            <!--<app-card-pic
              [picEntrante]="foto"
              (click)="agregarFotoCarrito(foto)"
            ></app-card-pic>-->
            <img
              loading="lazy"
                src="../../../assets/img/fotos/individuales/{{
                  foto?.cod_institucion
                }}/{{ foto?.ruta }}"
                alt=""
                (contextmenu)="prohibirDescarga($event)"
                (click)="agregarFotoCarrito(foto)"
                width="100%"
              />
          </div>

        </div>
        <!--
        <div class="galeria_masonry">
          <div class="columna">
            <div class="photo_item" *ngFor="let item of getPicsForColumn(0)">
              <img
              loading="lazy"
                src="../../../assets/img/fotos/individuales/{{
                  item?.cod_institucion
                }}/{{ item?.ruta }}"
                alt=""
                (contextmenu)="prohibirDescarga($event)"
                (click)="agregarFotoCarrito(item)"
              />
            </div>
          </div>
          <div class="columna">
            <div class="photo_item" *ngFor="let item of getPicsForColumn(1)">
              <img
              loading="lazy"
                src="../../../assets/img/fotos/individuales/{{
                  item?.cod_institucion
                }}/{{ item?.ruta }}"
                alt=""
                (contextmenu)="prohibirDescarga($event)"
                (click)="agregarFotoCarrito(item)"
              />
            </div>
          </div>
          <div class="columna">
            <div class="photo_item" *ngFor="let item of getPicsForColumn(2)">
              <img
              loading="lazy"
                src="../../../assets/img/fotos/individuales/{{
                  item?.cod_institucion
                }}/{{ item?.ruta }}"
                alt=""
                (contextmenu)="prohibirDescarga($event)"
                (click)="agregarFotoCarrito(item)"
              />
            </div>
          </div>
          <div class="columna">
            <div class="photo_item" *ngFor="let item of getPicsForColumn(3)">
              <img
              loading="lazy"
                src="../../../assets/img/fotos/individuales/{{
                  item?.cod_institucion
                }}/{{ item?.ruta }}"
                alt=""
                (contextmenu)="prohibirDescarga($event)"
                (click)="agregarFotoCarrito(item)"
              />
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
<!--
<div class="contenedor_carrito" [ngClass]="{'ocultarContenedorCarrito': !carritoVisible}">
  <div
    [ngClass]="{
      'app-cart-sinAnim': primeraVez,
      'app-cart_Oculto': !carritoVisible && !primeraVez,
      'app-cart_Mostrar': carritoVisible && !primeraVez
    }"
  >
    <app-cart [carritoVisible]="carritoVisible"></app-cart>
  </div>
</div>
-->
<div class="cont_carrito">
  <div
    [ngClass]="{
      'app-cart-sinAnim': primeraVez,
      'app-cart_Oculto': !carritoVisible && !primeraVez,
      'app-cart_Mostrar': carritoVisible && !primeraVez
    }"
  >
    <app-cart [carritoVisible]="carritoVisible"></app-cart>
  </div>
</div>
<app-footer
  class="footer"
  *ngIf="listaFotos.length !== 0"
  #footerRef
></app-footer>
