header{
  width: 100%;
  background-color: #0c2535;
  display: flex;
  justify-content: center;
  z-index: 1500;
  box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.281);
}
.header {
  width: 80vw;
  z-index: 1500;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px 0;
  padding: 5px 0;
}
.headerSticky{
  position: sticky;
  top: 0;
  z-index: 1500;
  width: 100%;
  //animation: mostrarHeaderScroll .3s;
}
.logo {
  width: 50vw;
  filter: invert(100%);
  min-width: 337px;
}
.fondo {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  position: fixed;
  top: 0;
  display: block;
  z-index: 149;
}
.contenedor_top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  transition: 0.5s;
  position: relative;
  z-index: 150;
}
.contenedor_top.menuVisible {
  transition: 1s;
  color: rgb(255, 255, 255);
}

.menu {
  width: 40px;
  filter: invert(100%);
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fefefe;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

nav {
  //background-color: #fff;
  //width: 50vw;
  //height: 30vh;

  display: none;
}

h1 {
  font-size: 50px;
  cursor: pointer;
}
nav.menuVisible {
  animation: mostrarMenu 1s;
}
nav.menuOculto {
  width: 0;
  height: 0;
  animation: ocultarMenu 1s;
}
nav.sinAnim {
  width: 0;
  height: 0;
  animation: none;
}


@keyframes mostrarHeaderScroll {
  from{
    height: 0;
    opacity: 0;
  }
  to{
    height: 10vh;
    opacity: 1;
  }

}
@keyframes mostrarMenu {
  0% {
    height: 0;
  }
  100% {
    height: 30vh;
  }
}
@keyframes ocultarMenu {
  0% {
    height: 30vh;
    width: 100%;
  }
  100% {
    height: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .menu {
    display: none;
  }
  .header {
    gap: 0 10px;
    color: #fff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    max-height: 12vh;
    position: sticky;
    top: 0;
  }
  .burger{
    display: none;
  }
  .logo {
    width: 25vw;
    cursor: pointer;
  }
  .fondo {
    display: none;
  }

  nav.menuVisible {
    animation: none;
  }
  nav.menuOculto {
    animation: none;
  }
  nav {
    width: 50vw;
    position: static;
    height: 4vh;
    border-radius: 20px;
    background: none;
    margin: 0;
    justify-content: right;
    display: flex;
    align-items: center;
  }

}
