<!--<div class="card" [ngClass]="{'actualizarComentario':seActualizoComentario}">
    <div class="header">
      <div class="image"></div>
      <div>
        <div class="stars">
            <svg
            *ngFor="let i of cantEstrellas"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
            ></path>
          </svg>
        </div>
        <p class="name">{{testimonio?.nombre}}</p>
      </div>
    </div>

    <p class="message">
        {{testimonio?.mensaje}}
    </p>
</div>-->

<div class="cardTestimony">
  <div class="image-content">
      <span class="overlay"></span>
      <div class="cardTestimony-image">
          <!--<img src="images/profile1.jpg" alt="" class="cardTestimony-img">-->
      </div>
  </div>
  <div class="cardTestimony-content">
      <h2 class="name">{{testimonio?.nombre}}</h2>
      <p class="description">{{testimonio?.mensaje}}</p>
      <div class="stars">
        <svg
        *ngFor="let i of cantEstrellas"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
        ></path>
      </svg>
    </div>
  </div>
</div>