.cardDatos {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  z-index: 20;
  padding-bottom: 70px;
}
.cabecera {
  border-bottom: 1px solid #e5e5e5;
  padding: 2vh 3.5vw;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 5px;
}
.cabecera > svg{
  stroke: #3f7190;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.cabecera > svg:hover{
}
.cabecera h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.cabecera h1::first-letter {
  text-transform: uppercase;
}
.cardDatos .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px;
}
.cardDatos .form .texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px 0;
  //padding-bottom: 10px;
  padding-top: 20px;
}
.cardDatos .form .texto h4 {
  font-size: 20px;
  font-weight: 600;
  color: #6d6d6e;
}
.cardDatos .form .texto h5 {
  font-size: 17px;
  font-weight: 500;
  counter-reset: #d1d1d1;
  text-align: center;
}
.cardDatos .form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 35px 20px;
  padding-top: 20px;
  gap: 20px;
}
.cardDatos .form form input {
  border-radius: 8px;
  background-color: #e7ebee;
  border: 1px solid #e9e8e8;

  width: 35%;
  min-width: 230px;
  max-width: 350px;
  font-size: 16px;
  font-weight: 400;
  color: #595b5f;
  padding: 7px;
  padding: 10px;
}
.cardDatos .form form input:not(:placeholder-shown) {
  color: #000;
  font-weight: 500;
}
.cardDatos .form form input:focus {
  color: rgb(0, 0, 0);
  font-size: 18px;
  transition: 0.2s;
}
.cardDatos .form form input:hover {
  border: 1px solid #dddcdc;
  transition: 0.2s;
}
.cardDatos .form form input.error {
  border: 1px solid rgb(233, 93, 93);
  background-color: rgba(247, 190, 190, 0.459);
  transition: 0.2s;
}
.btn,
.datos_tranferencias .btn {


  display: none;
}
.btn button,
.datos_tranferencias .btn button {
  width: 35%;
  min-width: 230px;
  max-width: 350px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #0c2535;
  transition: 0.4s;
}
.btn button:hover,
.datos_tranferencias .btn button:hover {
  background-color: #153c54;
  transition: 0.4s;
}

.back{
  display: flex;
  align-items: center;
  position: absolute;
  top: -10px;
  cursor: pointer;
}
.back svg{
  width: 25px;
  fill: rgb(30, 75, 152);
  transform: translateX(3px);
}
.back h3{
  font-size: 15px;
  font-weight: 400;
  color: rgb(30, 75, 152);
  transform: translateY(-2px);
}
.back:hover h3,.back:hover svg{
  color: rgb(9, 9, 67);
}





.contenedor_error {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #EF665B;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  animation: .3s aparecerMensajeError;
  position: absolute;
  bottom: -55px;
}


.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}


.error__icon path {
  fill: #fff;
}


.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}


.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}


.error__close path {
  fill: #fff;
}
@keyframes aparecerMensajeError {
  from{
    scale: 0;
    bottom:55px;
    z-index: 0;
  }
  to{
    scale: 1;
    bottom: -55px;
    z-index: 20;
  }
}

@media only screen and (min-width:870px) {
  .back{
    top: -28px;
  }
  .cardDatos .form {
    padding-bottom: 0;
  }
  .cardDatos{
    max-width: 800px;
    background-color: #fff;
    animation: aparecer 0.3s;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 0.5rem;
    padding-bottom: 0;

  }
  .cabecera{
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
  }
  .btn,
  .datos_tranferencias .btn {


    width: 100%;
    display: flex;
    margin: 20px 0;
    justify-content: right;
  }
  .resumen{
    display: none;
  }
}

.resumen{
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  max-width: none;
}
