.copias {
  position: relative;
  width: 100px;
  height: 150px;
  display: flex;
  align-items: center;
}
img.individual {
  width: 75px;
  height: 112px;
  box-shadow: 0 1px 4px rgba(85, 85, 85, 0.61);
}
.c1 {
  rotate: 0;
  z-index: 10;
  transform: translateX(30px);
}
.c2 {
  rotate: -2deg;
  z-index: 5;
  transform: translateX(15px);
}
.c3 {
  rotate: -4deg;
  z-index: 2;
}
.c4 {
  rotate: -6deg;
  z-index: 0;
  transform: translateX(-15px);
}
img.grupal {
  transform: rotate(270deg);
  height: 80px;
  width: 112px;
  box-shadow: 0 1px 4px rgba(85, 85, 85, 0.61);
}
img.extra {
  width: 75px;
  position: absolute;
  box-shadow: 0 1px 4px rgba(85, 85, 85, 0.61);
  border-radius: 1px;
}
.cruz {
  position: absolute;
  width: 26px;
  cursor: pointer;
}
.plus svg {
  fill: #0c2535;
  width: 20px;
  height: auto;
}
// item galeria
.item_galeria .CartBtn{
  width: 334px;
}
.item_galeria {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  //flex-direction: column;
  padding: 1vh 0;
  gap: 0px 15px;
}
.item_galeria img.individual {
  max-width: 213px;
  width: 16vw;
  min-width: 150px;
}

.item_galeria .cruz {
  right: 2px;
  top: 0;
  opacity: 1;
}
.item_galeria .fotos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
}

.item_galeria .carpeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
}
.item_galeria .carpeta .individual {
  height: auto;
}
.item_galeria.imagen_vertical {
  flex-direction: row;
}
.item_galeria .carpeta .individual.img_vertical {
  width: 75px;
  max-width: 75px;
  min-width: auto;
}
.item_galeria .carpeta .grupal {
  height: 16vw;
  max-height: 75px;
  width: auto;
}
.item_galeria img.extra {
  width: 16vw;
  max-width: 75px;
  height: auto;
}

.item_galeria .plus {
  transform: translateX(7px);
}
.item_galeria .plus.plus_3extras {
  transform: translateX(-8px);
}
.item_galeria .plus.plus_2extras {
  transform: translateX(-1px);
}

// item carrito page
.item_carrito {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 2vh 1.7vw;
  gap: 3px 15px;
  //border-bottom: 1px solid rgb(243,242,242);
}
.item_carrito img.individual {
  width: 194px;
  height: auto;
}
.item_carrito img.individual.img_vertical {
  width: 75px;
  height: 112px;
}
.item_carrito .cruz {
  top: 2px;
  right: 2px;
  opacity: 0.5;
}
.item_carrito .fotos {
  width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 5%;
}
.item_carrito .fotos.fotosSinExtra {
  width: 340px;
}
.item_carrito .carpeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item_carrito .plus {
  transform: translateX(11px);
}
.item_carrito .plus.plus_3extras {
  transform: translateX(-6px);
}
.item_carrito .plus.plus_2extras {
  transform: translateX(1px);
}
// cont info

.contenedor_info {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.contenedor_info h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 21px;
  text-transform: lowercase;
}
.contenedor_info h2::first-letter {
  text-transform: uppercase;
}
.contenedor_info .info_alumno h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 17px;
  margin: 5px 0;
}
.contenedor_info .info_alumno h3.alumno {
  font-size: 2.1vh;
}
// precio y botonera
.contenedor_precio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px 0;
}
h2.precio {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 2.5vh;
}

.quantity {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
}
.quantity input {
  width: 35px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 700;
  color: #47484b;
  border: none;
  background: transparent;
  text-align: center;
}
.quantity button {
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  background-color: transparent;
  padding-bottom: 2px;
  cursor: pointer;
}
.digital {
  background-color: #f2f1f4;
  margin-top: 2vh;
}
.CartBtn{
  width: 45%;
  max-width: 334px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #0c2535;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #0c2535;
  transition-duration: 0.5s;
  overflow: hidden;
  position: relative;
}
@media only screen and (min-width: 870px) {


  .item_conDigital {
    padding: 2vh 0 0 0 !important;
  }
}

@keyframes aparecerLento {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.item_conDigital {
  padding: 2vh 0vw 0 0;
}
.digital {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /**/
  padding: 7px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  gap: 0 10px;
}
.en_resumen {
  padding: 10px 0;
}
.digital h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

/* Genel stil */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 10px 20px 10px 10px;
}

/* Giriş stil */
.toggle-switch .toggle-input {
  display: none;
}

/* Anahtarın stilinin etrafındaki etiketin stil */
.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  background-color: #c72020;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Anahtarın yuvarlak kısmının stil */
.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: #4caf50;
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

/* Light tema */
.toggle-switch.light .toggle-label {
  background-color: #bebebe;
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: #9b9b9b;
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}

/* Dark tema */
.toggle-switch.dark .toggle-label {
  background-color: #4b4b4b;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label {
  background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}


.checkbox-wrapper-12 {
  position: relative;
}

.checkbox-wrapper-12 > svg {
  position: absolute;
  top: -130%;
  left: -170%;
  width: 110px;
  pointer-events: none;
}

.checkbox-wrapper-12 * {
  box-sizing: border-box;
}

.checkbox-wrapper-12 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}

.checkbox-wrapper-12 input[type="checkbox"]:focus {
  outline: 0;
}

.checkbox-wrapper-12 .cbx {
  width: 24px;
  height: 24px;
  top: calc(100px - 12px);
  left: calc(100px - 12px);
}

.checkbox-wrapper-12 .cbx input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #bfbfc0;
  border-radius: 50%;
}

.checkbox-wrapper-12 .cbx label {
  width: 24px;
  height: 24px;
  background: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: trasnlate3d(0, 0, 0);
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg {
  position: absolute;
  top: 5px;
  left: 4px;
  z-index: 1;
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}

.checkbox-wrapper-12 .cbx input:checked + label {
  animation: splash-12 0.6s ease forwards;
}

.checkbox-wrapper-12 .cbx input:checked + label + svg path {
  stroke-dashoffset: 0;
}

@-moz-keyframes splash-12 {
  40% {
    background: #28516B;
    box-shadow: 0 -18px 0 -8px #28516B, 16px -8px 0 -8px #28516B, 16px 8px 0 -8px #28516B, 0 18px 0 -8px #28516B, -16px 8px 0 -8px #28516B, -16px -8px 0 -8px #28516B;
  }

  100% {
    background: #28516B;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-webkit-keyframes splash-12 {
  40% {
    background: #28516B;
    box-shadow: 0 -18px 0 -8px #28516B, 16px -8px 0 -8px #28516B, 16px 8px 0 -8px #28516B, 0 18px 0 -8px #28516B, -16px 8px 0 -8px #28516B, -16px -8px 0 -8px #28516B;
  }

  100% {
    background: #28516B;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-o-keyframes splash-12 {
  40% {
    background: #28516B;
    box-shadow: 0 -18px 0 -8px #28516B, 16px -8px 0 -8px #28516B, 16px 8px 0 -8px #28516B, 0 18px 0 -8px #28516B, -16px 8px 0 -8px #28516B, -16px -8px 0 -8px #28516B;
  }

  100% {
    background: #28516B;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@keyframes splash-12 {
  40% {
    background: #28516B;
    box-shadow: 0 -18px 0 -8px #28516B, 16px -8px 0 -8px #28516B, 16px 8px 0 -8px #28516B, 0 18px 0 -8px #28516B, -16px 8px 0 -8px #28516B, -16px -8px 0 -8px #28516B;
  }

  100% {
    background: #28516B;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}
.botonesss form{
  width: 45%;
}
.botonesss form select {
  width: 100%;
  padding: 0px;
  font-size: 16px;
  background-color: #28516B;
  border: none;
  border-radius: 8px;
  height: 35px;
  color: #fff;
  text-align: center;
}
select::after {

}
/* Estilo para los option dentro del select */
.botonesss form select option {
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

/* Cambiar el estilo cuando se selecciona una opción */
select:focus {
  border-color: #007bff; /* Cambiar el color del borde al enfocar */
  outline: none; /* Eliminar el borde punteado en algunos navegadores */
}
.botonesss{
  gap: 0 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 10px;
}


.item_carrito button.button{
  border: 1px solid #28516b;
  height: 35px;
}
.item_carrito .button .button__icon{
  background-color: #28516b;
}
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #0c2535;
  background-color: transparent;
  overflow: hidden;
  border-radius: 7px;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(35px);
  color: #0c2535;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #0c2535;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
}

.button:hover {
  background: #0c2535;
}
.item_carrito .button:hover {
  background: #28516B;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #b20000;
}

.button:active {
  border: 1px solid #b20000;
}
