<section class="articles">
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="../../../assets/img/comodidad.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Comodidad</h2>
          <p>
            Comodidad para las familias pudiendo realizar la compra y el
seguimiento del pedido dentro de la web durante las 24 horas del día
desde su hogar, trabajo o desde donde deseen ingresar.
          </p>
          <!--<a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>-->
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="../../../assets/img/facilidad.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Facilidad</h2>
          <p>
            Facilidad para realizar la compra de manera rápida y en solamente 4
pasos, gracias a la intuitividad de la pagina que hace la experiencia del
cliente lo mas llevadera posible.</p>
          <!--<a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>-->
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="../../../assets/img/fiabilidad.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Fiabilidad</h2>
          <p>
            Fiabilidad permitiendo que los clientes puedan previsualizar las
fotografías en familia antes de realizar el pedido, logrando que tomen
una decisión lo mas acertada posible sin comprar a ciegas como se
realiza generalmente de manera tradicional.  
          </p>
         <!-- <a href="#" class="read-more">
            Read more <span class="sr-only">about this is some title</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </a>-->
        </div>
      </div>
    </article>
  </section>