.cardMetodo {
  max-width: 800px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.cabecera {

  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 2vh 3.5vw;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.cabecera span{
  display: none;
}
.cabecera span.sinElegir{
  display: inline;
  font-weight: 300;
  font-size: 15px;
  color: red;
  transition: ease-in 50ms;
}
.cabecera h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 2.5vh;
}
.cabecera h1::first-letter {
  text-transform: uppercase;
}
form{
    width: 100%;
}
.contenedor_metodos{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.item{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 15px;
    padding: 2vh 3.5vw;
    background-color: #fff;
    border-top: 1px solid rgb(246, 246, 246);
    position: relative;
    cursor: pointer;
}
.item:hover{
  background-color: #f2f2f2;
  transition: .3s;
}
.item.primero{
  border: none;
}
.item::before{
  background-color:  #c0c0c0 ;
  content: ''; /* Agregamos contenido pseudo-elemento */
  position: absolute; /* Establecemos una posición absoluta para el borde */
  top: 0;
  left: 0;
  height: 100%; /* Altura igual a la del div padre */
  width: 5px; /* Ancho del borde izquierdo */
}
.item.seleccionada::before{
  background-color:  #28516B ;
  content: ''; /* Agregamos contenido pseudo-elemento */
  position: absolute; /* Establecemos una posición absoluta para el borde */
  top: 0;
  left: 0;
  height: 100%; /* Altura igual a la del div padre */
  width: 5px; /* Ancho del borde izquierdo */
}
.item.sinElegir{
  border: 1px solid rgba(176, 87, 87, 0.734);
  transition: ease-in 50ms;
}
.item h2{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.item img{
    width: 40px;
}


.btn,
.datos_tranferencias .btn {
  display: none;

}
.btn button,
.datos_tranferencias .btn button {
  width: 35%;
  min-width: 230px;
  max-width: 350px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #0c2535;
  transition: 0.4s;
}
.btn button:hover,
.datos_tranferencias .btn button:hover {
  background-color: #153c54;
  transition: 0.4s;
}
.back{
  display: flex;
  align-items: center;
  position: absolute;
  top: -5px;
  cursor: pointer;
}
.back svg{
  width: 25px;
  fill: rgb(30, 75, 152);
  transform: translateX(3px);
}
.back h3{
  font-size: 15px;
  font-weight: 400;
  color: rgb(30, 75, 152);
  transform: translateY(-2px);
}
.back:hover h3,.back:hover svg{
  color: rgb(9, 9, 67);
}




.notifications-container {
  width: 100%;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10px;
}
.calidad_fotografia{
  width: 100% !important;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.flex {
  display: flex;
}


.flex-shrink-0 {
  flex-shrink: 0;
}


.infoNotif {
  background-color: rgb(239, 246, 255);
  border-left-width: 4px;
  border-radius: 0.375rem;
  padding: 1rem;
}
.notifications-container .notificacion_transf{
  padding: .5rem;
}


.info-svg {
  height: 1.25rem;
  width: 1.25rem;
  opacity: 70%;
  color: rgb(29, 78, 216);
}
.svg_completandoPagos{
  color: #0c2535;
}
.info-prompt-wrap {
  margin-left: 0.75rem;
  color: rgb(29, 78, 216);
  font-family: 'Raleway',sans-serif;
  font-size: 15px;
}
.parrafo_cartel{
  color: #0c2535;
  font-size: 16px;
}
.info-prompt-link {
  font-weight: 500;
  color: rgb(0, 29, 110);
  text-decoration: underline;
  cursor: pointer;
}


.info-prompt-link:hover {
  color: rgb(29, 78, 216);
}

.resumen{
  position: absolute;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  max-width: none;
}
@media only screen and (min-width:870px) {
  .back{
    top: -25px;
  }
  .cardMetodo{
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
  }
  .btn{
    width: 100%;
    display: flex;
    margin: 10px 0;
    justify-content: right;
  }
  .resumen{
    display: none;
  }
}
