<div class="cardCarrito">
  <div class="back" (click)="volverEntrega()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      id="Isolation_Mode"
      data-name="Isolation Mode"
      viewBox="0 0 24 24"
      
    >
      <path
        d="M13.422,19.061,8.129,13.768a2.5,2.5,0,0,1,0-3.536l5.293-5.293,2.121,2.122L10.6,12l4.939,4.939Z"
      />
    </svg>
    <h3>volver</h3>
  </div>
  <div class="cabecera">
    <h1>Tu carrito</h1>
  </div>
  <div
    class="itemFor"
    *ngFor="let item of listadoItems"
    [ngClass]="{ itemForPrimero: item === getPrimero() }"
  >
    <app-cart-item [item]="item"></app-cart-item>
  </div>
</div>
<div class="btn" >
    <button (click)="elegirMetodoPago()">Siguiente</button>
</div>
<app-resumen-pago class="resumen"
[enResumen]="true"
[listadoItems]="listadoItems"
(eventAvanzarMetodoPago)="elegirMetodoPago()"
>

</app-resumen-pago>
