html{

}
.contenedor_principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fdfdfd;
  gap: 1.5vh 0;
  padding-top: 5vh;
  padding-top: 2vh;
  padding-bottom: 0;
}
.resumen{


  display: none;

  //fijo abajo

}


.footer{
  display: none;
}

@media only screen and (min-width:870px) {
  .contenedor_principal {
    flex-direction: row;
    align-items: flex-start;
    gap: 0 1.5vw;
    background-color: #eeeeee;
    padding: 5vh 0;
  }
  .componentes{
    width: 60vw;
    min-width: 505px;
    max-width: 800px;
  }
  .contenedor_derecha{
    width: 25vw;
    max-width: 395px;
  }
  .resumen{
    width: 25vw;
    max-width: 395px;
    position: inherit;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }
  .footer{
    display: block;
  }

}
