<app-header></app-header>
<app-loading *ngIf="cargandoRedireccionPago"></app-loading>
<div class="contenedor_principal">
  <div class="componentes" [ngClass]="{'cambiarOrden':enMostrarTodos}">
    <app-form-datos-pago
      *ngIf="enDatosPersonales"
      (enviarDatos)="manejarDatos($event)"
      [listadoItems]="listadoItems"
    ></app-form-datos-pago>
    <app-metodo-entrega-pago
      *ngIf="enMetodoEntrega"
      (lugarEntrega)="actualizarMetodoEntrega($event)"
      [formDatos]="formDatos"
      (volverAtras)="volverAtras($event)"
      [listadoItems]="listadoItems"
    ></app-metodo-entrega-pago>
    <app-items-pago
      *ngIf="enResumen"
      [listadoItems]="listadoItems"
      [entregaEnDomicilio]="entregaEnDomicilio"
      (avanzarPaso)="avanzarAMetodoPago()"
      (volverAtras)="volverAtras($event)"
    ></app-items-pago>
    <app-metodo-pago
      *ngIf="enMetodoPago"
      [entregaEnDomicilio]="entregaEnDomicilio"
      (eventEmmiter)="redirigirPago($event)"
      (volverAtras)="volverAtras($event)"
    ></app-metodo-pago>
    <app-todos-componentes-pago
    *ngIf="enMostrarTodos"
    [formDatos]="formDatos"
    [listadoItems]="listadoItems"
    [entregaEnDomicilio]="entregaEnDomicilio"
    [metodoPago]="metodoPago"
    (volverAtras)="volverAtras($event)"
    >
    </app-todos-componentes-pago>
    <app-datos-transferencia *ngIf="mostrarDatosTransferencia"
    [items]="listadoItems"
    [envio]="costoEnvio"
    [orderID]="orderID"
    ></app-datos-transferencia>
  </div>
  <div class="resumen" [ngClass]="{'cambiarOrden':enMostrarTodos}">
    <app-resumen-pago
      [enDatosPersonales]="enDatosPersonales"
      [enMetodoEntrega]="enMetodoEntrega"
      [enResumen]="enResumen"
      [enMetodoPago]="enMetodoPago"
      [enMostrarTodos]="enMostrarTodos"
      [entregaEnDomicilio]="entregaEnDomicilio"
      (eventRedirigirPago)="elegirTRoMP()"
    ></app-resumen-pago>
  </div>
</div>

<app-footer class="footer"></app-footer>
