.datosCompra {
  max-width: 800px;
  width: 90vw;
  border-radius: 8px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);

  //fijo abajo
  width: 100%;
  max-width: none;
  border-radius: 0;
}/*
.datosCompra.enMostrarTodos{
  width: calc(100% - 4vh);
}*/
.cabecera,
.itemFor,
.datosCompra {
  background-color: #fff;
}
.cabecera {
  display: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 29px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.cabecera h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 2.5vh;
}
.cabecera h1::first-letter {
  text-transform: uppercase;
}

.compra button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c2535;
  border: none;
  color: white;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;

  border-radius: 8px;
}
.svgIcon {
  display: none;
  width: 16px;
}
.svgIcon path {
  fill: white;
}
.compra button label.irPagar {

}
.compra button label.continuar {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.compra button::before {
  width: 100%;
  height: 130px;
  position: absolute;
  content: "";
  background-color: #5c80e4;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: 0.3s;
  z-index: 150;
  //mix-blend-mode: difference;
}
.compra button:hover label {
  z-index: 200;

}
.compra button:hover .svgIcon {
  z-index: 250;
}
.compra button:hover .svgIcon path {
}
.compra button:hover::before {
  transition-duration: 0.6s;
  transform: translate(100%, -50%);
  border-radius: 8px;
}
.compra button:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

/* ZONA DE ABAJO */
.datosCompra .sumatoria {
  padding: 2vh 3.5vw;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}

.itemSumatoria {
  display: flex;
  justify-content: space-between;
  align-items: center;

  //margin-bottom: 10px;
}
.div_digital {
  display: flex;
  gap: 0 5px;
}
.itemSumatoria h4 {
  font-weight: 300;
  font-size: 16px;
  color: #6d6d6e;
}
.datosCompra .sumatoria h3 {
  font-family: "R.datosComprao", sans-serif;
  font-size: 2vh;
  font-weight: 300;
}
.datosCompra .compra {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 3.5vw;
  width: 100%;
  gap: 2vh 0;
}
.datosCompra .compra .info_compra {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.datosCompra .compra h5 {
  font-family: "R.datosComprao", sans-serif;
  font-size: 3vh;
  font-weight: 600;
}
.seguridad {
  display: none;
}

.envio {
  margin-top: 5px;
}
.datosCompra .sumatoria .envio h3 {
  color: #4caf50;
  font-weight: 500;
}

@media only screen and (min-width: 870px) {
  .datosCompra {
    width: 25vw;
    max-width: 395px;
    border-radius: 8px;
  }
  .cabecera {
    padding: 2vh 15px;
    display: block;
  }
  .cabecera h1{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 22px;
  }
  .datosCompra .sumatoria,
  .datosCompra .compra {
    padding: 2vh 1.7vw;
  }
  .compra button.bloqueado:hover {
    cursor: not-allowed;
  }
  .compra button.bloqueado {
    background-color: rgb(12 37 53 / 33%);;
  }
  .compra button.bloqueado::before {
    background-color: transparent;
  }
  .datosCompra .sumatoria {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px 0;
  }
  .calidad_fotografia {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-top: 10px;
  }

  .notifications-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .infoNotif {
    border-radius: 0.375rem;
  }

  .compra button label.continuar{
    display: none;
  }
  .compra button label.irPagar{
    display: inline;
    position: relative;
    z-index: 250;
  }
  .compra button.celular{
    display: none;
  }
  .compra button.computadora{
    display: block !important;
  }
}
.compra button.computadora{
  display: none;
}
.compra button.celular{
  //display: block;
}
.notifications-container {
  margin-top: 10px;
  width: 90%;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: none;
}
.calidad_fotografia {
  width: 100% !important;

  // fijo abajo
  margin-top: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
}
.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.infoNotif {
  background-color: rgb(239, 246, 255);
  border-left-width: 4px;
  padding: 1rem;

  //fijo abajo
  border-radius: 0;
}
.notifications-container .notificacion_transf {
  padding: 0.5rem;
}

.info-svg {
  height: 1.25rem;
  width: 1.25rem;
  opacity: 70%;
  color: rgb(29, 78, 216);
}
.svg_completandoPagos {
  color: #0c2535;
}
.info-prompt-wrap {
  margin-left: 0.75rem;
  color: rgb(29, 78, 216);
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
.parrafo_cartel {
  color: #0c2535;
  font-size: 16px;
}
.info-prompt-link {
  font-weight: 500;
  color: rgb(0, 29, 110);
  text-decoration: underline;
  cursor: pointer;
}

.info-prompt-link:hover {
  color: rgb(29, 78, 216);
}


